@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img style="height: 100%; width: 100%; object-fit: contain" src="@Url.Content("~\\Pictures\\banner.JPG")"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Library</h2>
        <p>An extensive collection of books for you to enjoy.</p>
        <img style="height: 100%; width: 100%; object-fit: contain" src="@Url.Content("~\\Pictures\\Books.jpg")" />
    </div>
    <div class="col-md-4">
        <h2>Workrooms</h2>
        <p>Silent and inspiring workrooms to collaborate with your peers or isolate you from the outside world.</p>
        <img style="height: 100%; width: 100%; object-fit: contain" src="@Url.Content("~\\Pictures\\workroom.jpg")" />
    </div>
    <div class="col-md-4">
        <h2>Programs</h2>
        <p>Easy to register programs from talented individuals to fuel your drive for knowledge.</p>
        <img style="height: 100%; width: 100%; object-fit: contain" src="@Url.Content("~\\Pictures\\programs.jpg")" />
    </div>
</div>