<script type="text/javascript" src="~/Scripts/Floors/floors.js"></script>

<h2>Floor List</h2>
@model LibraryWorkroomSystem.Models.Database.Floors

<table>
    @if (Model.list.Count() == 0)
    {
        <th>no floors listed</th>
    }
    @if (Model.list.Count() != 0)
    {
    <tr>
        <th>Floor Number</th>
        <th>Number of Workrooms</th>
    </tr>
    }
    @foreach (LibraryWorkroomSystem.Models.Database.Floor floor in Model.list)
    {
        <tr>
            <th>@floor.floor_no</th>
            <th>@floor.no_of_workrooms</th>
        </tr>
    }
</table>
<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm("AddFloor", "Floors"))
        {
            <p>Add Floor Number:</p>
            <input type="text" name="floorNumber"><br>
            <button type="submit" class="btn btn-default">Add</button><br>
        }
    </div>
    <div class="col-md-5">
        <h2>Save a new workroom</h2>
        @using (Html.BeginForm("SaveWorkroom", "Workrooms", FormMethod.Post, new { id = "saveRoom", onsubmit = "return validateRoom()" }))
        {
            <p>Floor Number:</p>
            <select name="floorNo">
                @for (int i = 1; i <= LibraryWorkroomSystem.Models.Database.LibraryDatabase.getInstance().getNumberOfFloors(); i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <p>Workroom Number:</p>
            <input name="roomNo" />
            <p>Workroom Capacity:</p>
            <input name="size" />
            <br />
            <button type="submit" class="btn btn-default">Submit Workroom</button>
        }
    </div>
</div>