
@{
    ViewBag.Title = "WorkroomCreation_Failure";
}

<h2>An error occurred when trying to store that workroom.</h2>
<p>Please ensure you can connect to the database. A workroom on the given floor may already exist with the given ID.</p>

